<div class="container">
	<h1>Price Creation</h1>
	<form novalidate="novalidate" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="labelPrice">Price:</label>
			<div class="controls">
				<input type="text" id="inputPrice" ng-model="price.price" />
			</div>
		</div>
		<div class="control-group" style="margin: 20px 0 0 0 ;">
			<div class="controls">
				<a ng-click="listPrices()" class="btn btn-small btn-primary">Cancel</a>
				<a ng-click="addPrice()" class="btn btn-small btn-primary">Create
					new price</a> 
			</div>
		</div>
	</form>
</div>